<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email</title>
</head>

<body style="margin:0px;width: 100%;">
  <div style="width:100%;color:#2c2c2c;font-family: Helvetica Neue, Arial,sans-serif;line-height: 23px;">
    <table style="width:650px;margin: 0 auto; padding: 10px 15px;">
      <tr>
        <td colspan="2" style="border-top:5px solid #2c2c2c;text-align: center;padding: 15px 5px;">
          <h1
            style="margin-bottom:30px;color: #2c2c2c;font-size: 32px;font-family: Helvetica Neue, Arial,sans-serif;font-weight: 500;">
            Shopping Center</h2>
            <h2>[Shopping Center] Complete your purchase</h2>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding-top:0px;">
          <p>Hi,</p>
          <p>Thank you for visiting our store we noticed that you might still be interested in following products.</p>
          <p>Now we are giving you a {{ textDiscount }} off coupon. This coupon will expire after 24 hours.</p>
          <p>Please enter this code at checkout <strong style="color:#a5004e;">{{ discountCode }}</strong></p>
          <p>If you like this product please click the button below to take them home. Hope to see you again.</p>
        </td>
      </tr>
      <tr>
        <td style="padding-top:10px;">
          <img src="{{ storeUrl }}/gift-wrap.png" style="padding-top:40px;max-width: 100px;" alt="gift-wrap" />
        </td>
        <td style="padding-top:10px;">
          <div>
            <h3 style="margin-bottom: 5px;">Special Offer Just For You</h3>
            <p style="margin:0px;">Special Offer Just For You</p>
          </div>
          <div style="text-align: center;margin-bottom: 50px;">
            <h3 style="margin-bottom: 5px;">{{ discountCode }}</h3>
            <small style="margin:0px;">Copy Coupon Code and Use</small>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;padding:20px 5px;">
          <a href="{{ url }}"
            style="color:#fff;background: #2f2f30; padding:17px 30px;border-radius: 6px;border: none;font-weight: 500;">Buy
            Now</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;padding:20px 5px;">
          <a href="{{ storeUrl }}" style="font-size:14px;color:#000;text-decoration: none;" href="#">View our store</a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>